:root{
--primary-light:  rgb(146, 143, 143);
--primary-orange: rgb(231, 56, 56);
--header: rgb(56, 55, 55);
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
background-color: var(--primary-light);
}
/* HEADER*/
header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header);
  padding: 40px 0;
}
.title{
  font-size: 36px;
  color: var(--primary-orange);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;

}