:root{
--primary-light:  rgb(124, 110, 110);
--primary-red: rgb(231, 56, 56);
--header: rgb(64, 63, 63);
--primary-hover-btn: rgb(194, 32, 32);
--logo-color: black;
--overlay-color: rgba(255, 255, 255, 0.5); 
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
background-color: var(--primary-light);

}
/* HEADER*/
header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header);
  padding: 40px 0;
}
.title{
  font-size: 36px;
  color: var(--primary-red);
  letter-spacing: 2px;

}
/* MAIN */

.scoreboard-header{
  display: flex;
  justify-content: space-around;
  padding: 34px 0;
}
.score-container{
  display: flex;
  justify-content: center;
  padding: 35px 0;
}
.score-box{
  margin: 0 60px;
  text-align: center;
}
.questionnaire{
  font-size: 64px;
  margin: 16px;
}
.score{
  font-size: 18px;
  font-weight: 500;
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 50px 0;
}
.btn{
  width: 144px;
  height: 134px;
  cursor: pointer;
  margin: 0 20px;
  background-color: var(--primary-red);
  border-radius: 10px;
}
 .btn:hover{
  background-color: var(--primary-hover-btn);
  transition: all 0.4s;
}
.sign{
font-size: 82px;
padding: 10px;
}
.scoreboard-title{
  font-size: 26px;
  font-weight: 500;
}
.play{
  font-size: 20px;
}
/* FOOTER */
.footer-description{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 18px;
  margin-right: 15px;
}
.icon{
  font-size: 26px;
  color: var(--logo-color);
  margin: 4px;
}
.icon:hover{
  transform: scale(1.2);
  transition: all 0.3s;
}
/* MODAL */
.container-modal{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
/* ANIMATION FOR START BUTTON */
@keyframes pulseButton {
  0% {
    transform: scale(1) ;
    opacity: 0.8;
  }
  25% {
    transform: scale(1.1) ;
    opacity: 1;
  }
  50% {
    transform: scale(1.1) ;
    opacity: 1;
  }
  75% {
    transform: scale(1.1) ;
    opacity: 1;
  }
  100% {
    transform: scale(1) ;
    opacity: 0.8;

  }
}
.btn-start{
  border: none;
  font-size: 36px;
  color:var(--primary-red);
  padding: 20px;
  cursor: pointer;
  letter-spacing: 3px;
  border: 1px dashed var(--primary-red);
  z-index: 1;
  animation: pulseButton 2s infinite;
  
}
.overlay{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  backdrop-filter: blur(10px);
  z-index: 0;
}